@import "tailwindcss";

@font-face {
    font-family: "Fascinante";
    src: url("./asserts/Fascinante-Regular.wolff2") format("wolff2");
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
}

@theme {
    --color-micolor: #fef;
    --color-avocado-100: oklch(98.332% 0.05146 117.971);
}